<template>
    <div>
        <h1>i18n translator</h1>
        <div>
            <input type="file" @change="loadFile" multiple accept="application/json">
        </div>
        <div style="margin-top: 1rem;" v-if="files">
            <label for="selectLang">Pick language</label>
            <select v-model="selected" id="selectLang">
                <option v-bind:value="file" v-for="file in parsedFiles">{{ file.lang }}</option>
            </select>
        </div>
        <div v-if="selected">
            <ExportJson :storageObj="selected.data" :fileName="selected.lang"></ExportJson>
            <Tree style="text-align: left;" :treeData="selected.data"></Tree>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Emit} from 'vue-property-decorator';
    import Tree from "@/components/Tree.vue";
    import ExportJson from "@/components/ExportJson.vue";

    @Component({
        components: {ExportJson, Tree}
    })
    export default class Translate extends Vue {
        files: FileList | null = null;
        parsedFiles: Array<Object> = [];
        selected: Object | null = null;

        loadFile(event: Event) {
            this.files = (<HTMLInputElement>event.target).files;
            if (!this.files || this.files.length === 0) return;

            this.parsedFiles = [];
            this.selected = null;

            [...this.files].forEach(file => {
                let reader: FileReader = new FileReader();
                reader.onload = () => this.parsedFiles.push({
                    lang: file.name,
                    data: JSON.parse(<string>reader.result)
                });
                reader.readAsText(file);
            })
        }
    }
</script>