<template>
    <div>
        <input v-if="!visible" type="button" value="Add Object" @click="visible = true">
        <div v-else>
            <textarea style="width: 8rem" placeholder="Object title" v-model="inputKey"></textarea>
            <input style="margin-left: 0.5rem;" type="button" value="Add️" @click="addObject()">
            <input style="margin-left: 0.5rem;" type="button" value="Delete" @click="visible = false">
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Emit, Prop, Vue } from 'vue-property-decorator';

    @Component
    export default class AddNodeObject extends Vue {
        @Prop() nodeData!: object;
        visible: boolean = false;
        inputKey: string = '';

        addObject() {
            this.$emit('add-object', {nodeData: this.nodeData, key: this.inputKey});
            this.inputKey = '';
            this.visible = false;
        }
    }
</script>

<style lang="scss">
    textarea {
        resize: horizontal;
        height: 1rem;
        vertical-align: bottom;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        color: gray;
        &:focus {
            color: black;
            &::placeholder {
                color: #bbb;
            }
        }

    }
</style>
