<template>
    <div>
        <input type="button" value="Export to JSON" @click="exportFile()">
        <a style="display:none" :href="dataString" :download="fileName" ref="downloader"></a>
    </div>
</template>

<script lang="ts">
    import { Component, Emit, Prop, Vue } from 'vue-property-decorator';

    @Component
    export default class ExportJson extends Vue {
        @Prop() storageObj!: object;
        @Prop() fileName!: object;

        get dataString(): string {
            return "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(this.storageObj, null, 2));
        }

        exportFile() {
            this.$refs.downloader.click();
        }
    }
</script>