<template>
    <div>
        <span style="color: darkgray;">{{ nodeKey }}: </span>
        <input type="button" v-if="isFolder" @click="isOpen = !isOpen" :value="isOpen ? 'Contract' : 'Expand'">
        <ul v-if="isFolder" v-show="isOpen">
            <TreeNode v-for="(value,key) in nodeData"
                      :nodeKey="key"
                      :nodeData="value"
                      @add-item="$emit('add-item', $event)"
                      @add-object="$emit('add-object', $event)"
            ></TreeNode>
            <li><AddNodeString :nodeData="nodeData" @add-item="$emit('add-item', $event)"></AddNodeString></li>
            <li><AddNodeObject :nodeData="nodeData" @add-object="$emit('add-object', $event)"></AddNodeObject></li>
        </ul>
        <span v-else>{{ nodeData }}</span>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import AddNodeString from "@/components/AddNodeString.vue";
    import AddNodeObject from "@/components/AddNodeObject.vue";
    @Component({
        components: {AddNodeObject, AddNodeString}
    })
    export default class TreeNode extends Vue {
        @Prop() nodeKey!: string;
        @Prop() nodeData!: Object|String;
        @Prop({ default: false }) forcedOpen!: boolean;
        isOpen: boolean = this.forcedOpen;
        get keys() {
            return Object.keys(this.nodeData);
        }
        get isFolder () {
            return typeof this.nodeData === 'object'
        }
    }
</script>

<style lang="scss">
    li {
        list-style-type: none;
    }
</style>