<template>
    <div>
        <TreeNode nodeKey="root"
                  :nodeData="treeData"
                  @add-item="addItem"
                  @add-object="addObject"
                  :forced-open="true"
        ></TreeNode>
    </div>
</template>

<script lang="ts">
    import { Component, Emit, Prop, Vue } from 'vue-property-decorator';
    import TreeNode from "@/components/TreeNode.vue";

    @Component ({
        components: {TreeNode}
    })

    export default class Tree extends Vue {
        @Prop() treeData!: object;
        @Emit()
        addItem (event: object) {
            console.log('asd');
            Vue.set(event.nodeData, event.key, event.value)
        }
        @Emit()
        addObject (event: object) {
            console.log('asd');
            Vue.set(event.nodeData, event.key, {})
        }
    }
</script>

<style lang="scss">
    ul, li {
        font-size: 9pt;
    }
</style>